* { 
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
body {
    height: 2000px;
}
.caja-1,
.caja-2 {
    width: 100px;
    height: 100px;
}
.action-button {
    background-color: rgb(124, 228, 228);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed; /*es para fijar un elemnto*/
    bottom: 0;
    right: 0;
}
.caja-1 {
    border: 1px solid rgb(223, 50, 50);
    left: calc(50% - 50px);
    position: relative;
    top: 15px;
}
.caja-2 {
    border: 1px solid rgb(241, 93, 241);
    position: relative;
}
.circulo-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    bottom: 0%;
    right: 0;
}